.register__container{
    position: static;
    max-width: 70%;
    margin: 0 auto;
    text-align: left;
}

.register__form{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    justify-content: space-evenly;
    gap: 1em;
}

.register__body{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    justify-content: space-evenly;
}

.btn-container{
    flex-grow: 1;
    text-align: center;
    padding-top: 4em;

}

.btn-submit{
    margin: 1em auto;
    height: 50px;
    width: 70%;
    border-radius: 5px;
    font-size: 1.5em;
    color: rgba(255, 227, 66, 0.849);
    background-color: red;
    border: none;
    box-shadow: 1px 1px 3px white;
    transition: scale .5s ease;
    cursor: pointer;
}

.btn-submit:hover{
    scale: 1.1;
}

.gastos__title{
    color: red;
}

.gastos__form{
    max-width: 70%;
    width: 300px;

    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.gastos__form-title{
    color: red;
}

.btn-agregarGasto{
    margin: 1em auto;
    width: 70%;
    border-radius: 5px;
    color: rgba(255, 227, 66, 0.849);
    background-color: red;
    border: none;
    box-shadow: 1px 1px 3px white;
    transition: scale .5s ease;
    cursor: pointer;
}

.btn-agregarGasto:hover{
    scale: 1.1;
}

.gastos__title{
    max-width: 80%;
    width: 300px;
    margin: 0 auto;
    text-align: left;
}

.gastos__container{
    max-width: 90%;
    width: 350px;
    margin: 0 auto;
    text-align: left;
}
