.data__container{
    max-width: 85%;
    margin: 2em auto;
    text-align: left;
}

.btn__select-container{
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.gastos__card-container-title{
    max-width: 85%;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    color: red;
}

.btn__select{
    height: 2em;
    border: none;
    box-shadow: 1px 1px 3px white;
    background-color: rgba(255, 227, 66, 0.849);
    color: black;

}

.btn__select:hover{
    scale: 1.1;
}